#map {
  width: 100%;
  height: 50vw;
  min-height: 20vw;
}

.background {
  fill: #fff;
  pointer-events: all;
}

text.big-text {
  font-size: 30px;
  font-weight: 400;
  font-family: "Microsoft JhengHei";
  color: #868686;
}