body {
  margin: 0;
  background-color: #7e7e7e;
}

#map {
  background-color: #7e7e7e;
}

.background {
  fill: #7e7e7e;
  pointer-events: all;
}

text.big-text {
  font-size: 30px;
  font-weight: 400;
  font-family: "Microsoft JhengHei";
  color: #868686;
}